/**** DEFAULT SETTINGS ****/
/* orange shades #e68d55; #db8651;*/

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

*:focus {outline:none;}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', san-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #cbcbcb;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #cbcbcb;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #cbcbcb;
}

/**** HEADER ****/

header {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)),
   url(cssImages/gradcropmirror.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 55%;
    left: 14%;
    transform: translate(0, -50%);
}

h1,
h2 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin: 0;
    color: #fff;
}

.h1Format {
   font-size: 70px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: ' ';
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;

}

.logo {
    margin: 5px;
    height: 100px;
    float: left;
    opacity: .8;
}

.main-nav {
    float: right;
    list-style: none;
    margin-right: 0;
    margin-top: 60px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.4s;
    padding-bottom: 8px;
    letter-spacing: 1.3px;
}

.btn-main-nav {
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    font-size: 90%;
    border: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.4s;
    padding-bottom: 8px;
    letter-spacing: 1.3px;
    font-weight: 300;
}

.main-nav li a:hover,
.main-nav li a:active, 
.btn-main-nav:hover {
    border-bottom: 2px solid #e68d55;
}



.mobile-navicon {
    color: #fff;
    font-size: 300%;
    float: right;
    margin-top: 8px;
    margin-right: 15px;
    cursor: pointer;
    display: none;    
}


/**** BUTTONS ****/

.btn:link,
.btn:visited,
input[type="submit"],
.btnCap {
    display: inline-block;
    padding: 10px 0;
    text-decoration: none;
    border-radius: 200px;
    border: 1px solid #e68d55;
    transition: background-color 0.4s, border 0.4s, color 0.4s;
    text-align: center;    
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
    background-color: #e68d55;
    color: #fff;
    margin-right: 40px;
}

.btn-ghost:link,
.btn-ghost:visited,
.btnCap {
    border: 1px solid #e68d55;
    color: #e68d55;
}

.btnCap {
    background-color: transparent;
    color: #e68d55;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active,
.btnCap:hover {
    background-color: #db8651;
    border: 1px solid #db8651;
    color: #fff;
    font-weight: 300;
}

.btn-full:hover,
.btn-full:active {

}

.btn-ghost:hover,
.btn-ghost:active {

}

/*Bouncing spinning grad cap*/

.ion-university {
    color: #e68d55;
    font-size: 100px;
}

.bounce {
    
    animation: bounce .5s;
    animation-direction: alternate;
    animation-iteration-count: 2; 
    
}

.spin {
    -webkit-animation:spin .5s linear 2;
    -moz-animation:spin .5s linear 2;
    animation:spin .5s linear 2;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% {
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg); }
}

@keyframes bounce {
    from { transform: translate3d(0,0,0); }
    to { transform: translate3d(0,-500px,0); }
}


/*Survey section*/

.section-survey {
    background-color: #fff;
    width: 66%;
    margin: 0 auto;
}

.ion-alert-circled {
    color: #e68d55;
    font-size: 160%;
}

.question {
    padding: 23px;
    margin-left: -18px;
    font-size: 110%;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    height: 150px;
}

input[type=checkbox] {
    margin: 10px 8px 10px 20px;
}

input[type=submit] {
    margin-top: 10px
}

.messageToUserSuccess p {
    
    background-color: #56bf56;
    color: #333;
    padding: 8px;
    font-weight: 300;
}

.messageToUserFail p {
    
    background-color: rgb(255, 59, 59);
    color: #333;
    padding: 8px;
    font-weight: 400;   
    display: none;
}

/*About section*/

.section-about {
    background-color: #ececec;
    padding: 50px;
}

.section-about .row,
.section-about p {
    margin: 0 auto;
}

.section-about a {
    text-decoration: none;
    color: #e68d55;
    font-weight: 400;
    font-size: 95%;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    transition: border-bottom, color 0.4s;
}

.section-about a:hover,
.section-about a:active {
    color: #db8651;
    border-bottom: 2px solid #db8651;
}

.btnSubmit {
    width: 150px;
    padding: 10px;
}

/*Footer*/

footer {
    background-color: #333;
    padding: 40px;
}

.footer-nav,
.social-links {
    margin: 0 auto;
}
.footer-nav {
    float: left;
    text-transform: uppercase;
}

.social-links {
    float: right;
    margin-top: -13px;
}
footer ul {
    list-style: none;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin: 0px 20px;
    font-size: 120%;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.4s;
}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover,
.social-links li a:active {

    color: #dfdfdf;
}

.ion-social-linkedin-outline {
    font-size: 140%;

}

.ion-social-linkedin-outline:link,
.ion-social-linkedin-outline:visited {
    color: inherit;
    transition: color 0.4s;
}

.ion-social-linkedin-outline:hover,
.ion-social-linkedin-outline:active {
    color: #007bb6;
}

footer p {
    margin-top: 30px;
    color: #888;
    text-align: center;
}



